#mymenu {
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 52px;
  font-weight: bold;
  color: #d15d00;
}
h5 {
  text-align: center;
}
.carousel {
  width: 100%;
}
.carousel-item img {
  object-fit: cover;
  height: 700px !important;
  width: 100%;
}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

p {
  text-align: center;
  font-size: 120%;
}

.prices {
  text-align: center;
}

.counter {
  font-size: 40px;
}

.zl {
  font-size: 30px;
}

i {
  font-size: 30px;
  color: #212122;
}

.navbar {
  background: linear-gradient(transparent, transparent);
  max-width: 100%;
  box-shadow: 0 10px 10px -2px rgba(97, 90, 90, 0.884);
}

a {
  color: #212122;
  /* font-weight: bold; */
}
html {
  scroll-behavior: smooth;
  margin: 0 auto;
  max-width: 100%;
}
body {
  background-color: rgb(235, 216, 208);
  font-family: "Amarante", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.zakladki {
  background-color: #e6cec3;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

.zakladki-content {
  /* color: rgba(70, 66, 64, 0.87); */
  background-color: rgba(230, 206, 195);
  box-shadow: 5px 55px 55px rgb(0, 0, 0, 0.3);
  border: solid;
  border-color: #fffefd;

  /* #D5B9AC; */
}

@import url(https://fonts.googleapis.com/css?family=Nixie+One);
h3#author {
  position: static;
  bottom: 50px;
  color: #30303f;
  width: 100%;
  background: linear-gradient(
    rgba(195, 162, 146, 0.479),
    transparent,
    rgba(195, 162, 146, 0.479)
  );
  padding: 10px 0;
  font-family: "Nixie One";
  font-size: 80%;
  text-shadow: 0 0 10px #aaaaaa;
  font-family: "Roboto";
}

.moveRight {
  text-align: right;
}

.biuroRach {
  text-align: left;
  vertical-align: text-bottom;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-img {
  align-content: center;
}

.article {
  background: #30303f;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}
.navbar .navbar-nav {
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

#navbar a {
  float: left;
  display: block;
  color: #fffefd;
  text-align: center;
  text-decoration: none;
  font-size: 130%;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.7s;
}

#navbar a:hover {
  color: #d15d00;
}

.onas {
  font-size: 120%;
  text-align: center;
  line-height: 1.8;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

i:hover {
  color: #1212e4;
}

.onpic {
  z-index: 2;
  position: relative;
}

p::first-letter {
  font-size: 140%;
}

.fa-award {
  font-size: 50px;
}

.award {
  font-weight: bold;
  font-size: 2.4vw;
}

.carousel-control-prev-icon {
  height: 60px;
  width: 60px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  height: 60px;
  width: 60px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.carousel-indicators {
  bottom: 80px;
}
@keyframes jump {
  0% {
    top: -12px;
  }
  50% {
    top: 16px;
  }
  100% {
    top: -12px;
  }
}

#arrow-down {
  position: absolute;
  margin-top: 665px;
  text-align: center;
  animation: jump 3s infinite;
}
i {
  content: "\f0a8";
  font-family: "FontAwesome";
  font-size: 40px;
}
i:hover {
  color: #3636467e;
}
.fa-chevron-down {
  color: #30303f;
}

.box {
  align-content: center;
}
.carousel-content {
  position: absolute;
  text-align: center;
  bottom: 35%;
  left: 30%;
  right: 30%;
  font-size: 420%;
  font-family: "Allura", sans-serif;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.blurp--top {
  transform-origin: 50% 100%;
}
.blurp--top {
  position: absolute;
  bottom: 100%;
  margin-bottom: -710px;
}

#vertical_line {
  width: 5px;
  height: 220px;
  background: #ece5de4f;
  box-shadow: 0 0 30px #333;
}
#horizontal_line_right {
  width: 80px;
  height: 4px;
  margin-left: 25px;
  margin-top: -8px;
  background: #ece5de4f;
  box-shadow: 0 0 30px #333;
  text-align: center;
  display: inline-block;
}
#horizontal_line_left {
  width: 80px;
  height: 4px;
  margin-left: 0px;
  margin-top: 0px;
  background: #ece5de4f;
  box-shadow: 0 0 30px #333;
  text-align: center;
  display: inline-block;
}
.ofertasize {
  font-size: 130%;
  font-weight: bold;
  line-height: 2;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #d15d00; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}
